.mapContainer {
  height: 100%;
  width: 100%;
  border-radius: var(--radius-md);
  overflow: hidden;
  box-shadow: var(--shadow-md);
}

@media (min-width: 1024px) {
  .mapContainer {
    height: 500px;
  }
}

.mapWrapper {
  height: 100%;
  width: 100%;
}
