.noRecursos {
    text-align: center;
    padding: 100px 20px;
    background: white;
    border-radius: 30px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.03);
}

.icon {
    color: #cbd5e1;
    margin-bottom: 20px;
}

.noRecursos h2 {
    color: #1e293b;
    font-size: 2rem;
    font-weight: 800;
}

.noRecursos p {
    color: #64748b;
    font-size: 1.1rem;
}
